<div style="width: 100%">
    <button (click)="onClickTest()" style="width: 50%">Execute</button>
    <div style="width: 80%">
      <mat-slide-toggle (click)="toggleSearch()" style="margin-left: auto;">
        <input
          *ngIf="searchFieldBool"
          placeholder="Seach for field here"
          class="searchInput"
          #search
          (input)="searchField(search.value, true)"
        />
        <input
          *ngIf="!searchFieldBool"
          placeholder="Seach for attribute here"
          class="searchInput"
          #search
          (input)="searchField(search.value, false)"
        />
      </mat-slide-toggle>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Fields</th>
          <th>Prediction</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let r of searchtransformedJson"
          [ngStyle]="{
            'background-color':
              r.predicted.length == 0 ? 'rgba(233, 84, 84, 0.808)' : ''
          }"
        >
          <td>
            <input
              type="checkbox"
              [checked]="!uncheckedCheckboxes[r.id] && r.predicted.length != 0"
              (change)="toggleCheckbox(r.id)"
            />
          </td>
          <td>
            {{ r.id }}
            <!-- <ng-container *ngIf="!r.editMode">{{ r.id }}</ng-container>
            <input *ngIf="r.editMode" type="text" [(ngModel)]="r.id" /> -->
          </td>
          <td>
            <ng-container *ngIf="!r.editMode">
              <button
                [ngClass]="[
                  'tablebutton',
                  r.id,
                  this.anotherArray[r.id] == field || this.uncheckedCheckboxes[r.id]==field
                    ? 'tablebutton-clicked'
                    : 'tablebutton-notclicked'
                ]"
                *ngFor="let field of r.predicted; let i = index"
                (click)="addToAnotherArray(r.id, field)"
              >
                {{ field }}
              </button>
            </ng-container>
            <input
              *ngIf="r.editMode && anotherArray[r.id] !== undefined "
              type="text"
              [(ngModel)]="anotherArray[r.id]"
            required/>
            <input
              *ngIf="r.editMode && uncheckedCheckboxes[r.id]"
              type="text"
              [(ngModel)]="uncheckedCheckboxes[r.id]"
            required/>
          </td>
          <td>
            <button
              title="Click here to edit data"
              style="margin: 1px 2px"
              (click)="toggleEditMode(r)"
            >
              <i class="bi bi-check" *ngIf="r.editMode"></i>
              <i class="bi bi-pencil-square" *ngIf="!r.editMode"></i>
            </button>
            <button
              style="margin: 1px 2px"
              title="Click here to add extract pattern"
            >
              <i class="bi bi-patch-plus" (click)="openVerticallyCentered(content)"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Input Pattern Extraction</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="container" style="display: flex;flex-direction: column;">
        Demo Input : <input class="extractInput" type="text" placeholder="Demo Input Goes here"/>
        Extract Pattern : <input class="extractInput" type="text" placeholder="Pattern" />
        Extract Value : <input class="extractInput" type="text" placeholder="Extract value"/>
        <br>
        Demo Result : <input class="extractInput" type="text" placeholder="Demo result will be shown here" disabled/>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Save pattern</button>
    </div>
  </ng-template>