<div>
  <div>
    <br>
    <mat-slide-toggle (click)="toggleView()">JSON</mat-slide-toggle>
    <br>
    <div class="col">
      <select class="form-select" #asset aria-label="Default select example" (change)="changeAsset((asset.value))">
        <option value="" selected>Open this select menu</option>
        <option value="no:nyh">no:nyh</option>
        <option value="can:lng">can:lng</option>
        <option value="no:ol">no:ol</option>
        <option value="can:sct">can:sct</option>
      </select>
    </div>
    <div *ngIf="showTextbox" class="textbox row">
      <div class="col">
        <label for="input1">Enter Attributes:</label>
        <input type="text" id="input1" placeholder="Enter Attributes" [(ngModel)]="enteredText" />
      </div>
      <div class="col">
        <label for="input2">Enter Derived Property:</label>
        <input type="text" id="input2" placeholder="Enter Dervied Property" [(ngModel)]="enteredText1" />  
      </div>
    </div>
    <div *ngIf="!showTextbox" class="json row">
      <div class="col">
        <label for="input1">(Attributes):</label>
        <input type="file" (change)="onFileSelected($event)" />
      </div>
      <div class="col">
        <label for="input2">(Dervied):</label>
        <input type="file" (change)="onFileSelected1($event)" />  
      </div>
    </div>
    <button (click)="onClickTest()">Execute</button>
  </div>
 
    <table>
      <thead>
        <tr>
          <th>Fields</th>
          <th> Prediction</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let r of transformedJson">
        <td>{{r.id}}</td>
        <td><button [ngClass]="['tablebutton',r.id,this.anotherArray[r.id]==field?'tablebutton-clicked':'tablebutton-notclicked']" *ngFor="let field of r.predicted; let i = index" (click)="addToAnotherArray(r.id, field)">{{field}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- [ngStyle]="{'background-color': isFieldClicked(r.id, field) ? 'rgb(79, 242, 87)' : (isFieldClicked(r.id, r.predicted[0]) ? 'yellow' : (i === 0 ? 'rgb(79, 242, 87)' : 'yellow'))}" (click)="addToAnotherArray(r.id, field)" -->
  