<div>
  <div>
    <br>
    <mat-slide-toggle (click)="toggleView()">JSON</mat-slide-toggle>
    <br>
    <div class="col">
      <select class="form-select" #asset aria-label="Default select example" (change)="changeAsset((asset.value))">
        <option value="" selected>Open this select menu</option>
        <option value="no:nyh">no:nyh</option>
        <option value="can:lng">can:lng</option>
        <option value="no:ol">no:ol</option>
        <option value="can:sct">can:sct</option>
      </select>
    </div>
    <div *ngIf="showTextbox" class="textbox row">
      <div class="col">
        <label for="input1">Enter Attributes:</label>
        <input type="text" id="input1" placeholder="Enter Attributes" [(ngModel)]="enteredText" />
      </div>
      <div class="col">
        <label for="input2">Enter Derived Property:</label>
        <input type="text" id="input2" placeholder="Enter Dervied Property" [(ngModel)]="enteredText1" />  
      </div>
    </div>
    <div *ngIf="!showTextbox" class="json row">
      <div class="col">
        <label for="input1">(Attributes):</label>
        <input type="file" (change)="onFileSelected($event)" />
      </div>
      <div class="col">
        <label for="input2">(Dervied):</label>
        <input type="file" (change)="onFileSelected1($event)" />  
      </div>
    </div>
    <button (click)="onClickTest()" style="width: 100%;">Execute</button>
  </div>

  <div style="width: 100%;">
    <div style="width: 80%;">
      <mat-slide-toggle (click)="toggleSearch()" style="margin-left: auto;">
      <input *ngIf="searchFieldBool" placeholder="Seach for field here" class="searchInput" #search (input)="searchField(search.value,true)"/>
      <input *ngIf="!searchFieldBool" placeholder="Seach for attribute here" class="searchInput" #search (input)="searchField(search.value,false)"/>
      </mat-slide-toggle>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Fields</th>
          <th> Prediction</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of searchtransformedJson"  [ngStyle]="{'background-color': r.predicted.length==0 ? 'rgba(233, 84, 84, 0.808)':''}">
          <td><input type="checkbox" [checked]="!uncheckedCheckboxes[r.id]" (change)="toggleCheckbox(r.id)"/></td>
          <td>  <ng-container *ngIf="!r.editMode">{{r.id}}</ng-container>
            <input *ngIf="r.editMode" type="text" [(ngModel)]="r.id"/></td>
          <td> <ng-container *ngIf="!r.editMode">
            <button [ngClass]="['tablebutton',r.id,this.anotherArray[r.id]==field?'tablebutton-clicked':'tablebutton-notclicked']" 
              *ngFor="let field of r.predicted; let i = index" 
              (click)="addToAnotherArray(r.id, field)">
              {{field}}</button>
          </ng-container>
          <input *ngIf="r.editMode" type="text" [(ngModel)]="r.predicted[0]"/></td>
          <td>
            <button (click)="toggleEditMode(r)">{{ r.editMode ? 'Done' : 'Edit' }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <!-- [ngStyle]="{'background-color': isFieldClicked(r.id, field) ? 'rgb(79, 242, 87)' : (isFieldClicked(r.id, r.predicted[0]) ? 'yellow' : (i === 0 ? 'rgb(79, 242, 87)' : 'yellow'))}" (click)="addToAnotherArray(r.id, field)" -->
  