<div class="inputbox">
    <mat-tab-group dynamicheight class="vertical-tab-group">
      <mat-tab label="TextBox" class="matTabBody"> <br><div class="textbox">
        <div class="row">
          <div class="col">
            <label for="source">Enter Source:</label>
            <input
              class="comp1input"
              type="text"
              id="source"
              placeholder="Enter Source Name"
              [(ngModel)]="source"
              (change)="inputChange()"
              name="source"
            required/> 
          </div>
          <div class="col">
            <label for="type">Enter Type:</label>
            <input
              class="comp1input"
              type="text"
              id="type"
              placeholder="Enter Type"
              [(ngModel)]="type"
              (change)="inputChange()"
              name="type"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="attributes">Enter Attributes:</label>
            <input
              class="comp1input"
              type="text"
              id="attributes"
              placeholder="Enter Attributes"
              [(ngModel)]="attributes"
              (change)="inputChange()"
              name="attributes"
            />
          </div>
          <div class="col">
            <label for="fields">Enter Derived Property:</label>
            <input
              class="comp1input"
              type="text"
              id="fields"
              placeholder="Enter Derived Property"
              [(ngModel)]="fields"
              (change)="inputChange()"
              name="fields"
            />
          </div>
        </div>
      </div>
      </mat-tab>
      <mat-tab label="JSON" ><br> <div class="textbox">
        <div class="row">
          <div class="col">
            <label for="source">Enter Source:</label>
            <input
              class="comp1input"
              type="text"
              id="source"
              placeholder="Enter Source Name"
              [(ngModel)]="source"
              (change)="inputChange()"
              name="source"
            />
          </div>
          <div class="col">
            <label for="type">Enter Type:</label>
            <input
              class="comp1input"
              type="text"
              id="type"
              placeholder="Enter Type"
              [(ngModel)]="type"
              (change)="inputChange()"
              name="type"
            />
          </div>
        </div>
        <div class="row" >
          <div class="col">
            <label for="input1">(Attributes):</label>
                <input class="comp1input" type="file" (change)="onFileSelected($event)" />
          </div>
          <div class="col">
            
            <label for="input2">(Dervied):</label>
                <input class="comp1input" type="file" (change)="onFileSelected1($event)" />
          </div>
        </div>
      </div>
      </mat-tab>
      <mat-tab label="CSV/Excel" ><br> <div class="textbox">
        <div class="row">
          <div class="col">
            <label for="source">Enter Source:</label>
            <input
              class="comp1input"
              type="text"
              id="source"
              placeholder="Enter Source Name"
              [(ngModel)]="source"
              (change)="inputChange()"
              name="source"
            />
          </div>
          <div class="col">
            <label for="type">Enter Type:</label>
            <input
              class="comp1input"
              type="text"
              id="type"
              placeholder="Enter Type"
              [(ngModel)]="type"
              (change)="inputChange()"
              name="type"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
         <label for="input1">(Attributes):</label>
                <input class="comp1input" type="file" (change)="onFileSelected2($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
          </div>
          <div class="col">
            <label for="input2">(Dervied):</label>
            <input
            class="comp1input"
            type="text"
            id="fields"
            placeholder="Enter Derived Property"
            [(ngModel)]="fields"
            (change)="inputChange()"
            name="fields"
          />
          </div>
        </div>
      </div>
      </mat-tab>
    </mat-tab-group>
  </div>