<br>
<br>
<h6>Input 1 (Upload Assets File)</h6>
<br>
<div>
  <input type="file" (change)="onFileSelected($event)" />
or 
  <input type="text" id="textInput" [(ngModel)]="enteredText" />
  <button (click)="storeText()">Store Attributes</button>
</div>

<br><br>
<h6>Input 2 (Upload Derived Property File)</h6>
<br>
<div>
  <input type="file" (change)="onFileSelected($event)" />
  or 
  <input type="text" id="textInput" [(ngModel)]="enteredText1" />
  <button (click)="storeText1()">Store Derived Property</button>
</div>

<br>
<button>Action</button>

